@media print {
  body * {
    visibility: hidden;
  }
  .print\:p-0 * {
    visibility: visible;
  }
  .print\:p-0 {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  @page {
    margin: 20mm;
  }
}
